@charset "UTF-8";

/* base */
html {
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #eeebe3;
  margin: 0;
  color: #000;
  font-size: 5rem;
  line-height: 1.7;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
img, video {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
iframe {
  border: none;
}

/* helper */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.hidden {
  display: none;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active
 {
  // color: #ff0066;
  color: #35b590;
}

h1 {
  margin: 0 auto;
}

h2 {
  display: block;
  background-color: #fff;
  margin: 0 0 2em;
  padding: 0.5em;
  text-align: center;
  font-size: 120%;
  font-family: serif;
  font-weight: normal;
  letter-spacing: .5rem;
}

ul {
  margin-bottom: 2em;
}
ul li {
  margin-bottom: 1em;
}
ul li ul,
ul li ul li {
  margin-bottom: 0;
}

hr {
  margin: 2em auto;
}


/* contents */

main.contenu {
  padding: 2em 1em 5em;
}

header.entete {
  width: 100%;
  text-align: center;
}
header.entete picture.heroImage {
  margin: 0 auto;
}
header.entete picture.heroImage img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

article.titre h1.title {
  text-align: center;
}
article.titre h1.title .logo {
  height: 6vh;
  vertical-align: bottom;
}
article.titre h1.title .logo .logo-image {
  fill: #000;
}

article.resume ul.par {
  list-style: none;
}
article.resume ul.par li {
  font-size: 70%;
  font-family: serif;
  text-align: right;
}
article.resume ul.par li span.accent {
  font-style: italic;
}

article.autres img {
  width: 100%;
}

article.histoire .story {
  margin: 3em 0;
}
article.histoire .story p {
  margin: 0 2rem 8rem;
  font-size: 90%;
  font-family: serif;
  text-indent: 1em;
  letter-spacing: 0.5rem;
  line-height: 1.9;
  text-align: justify;
  word-break: break-all;
}
article.histoire .story .footnote {
  display: block;
  margin-top: 4em;
  font-size: 80%;
  text-align: right;
}


@media screen and (min-device-width: 415px) {
  hr {
    margin: 1em auto;
  }
  br.narrow {
    display: none;
  }
  main.contenu {
    padding-top: 1em;
    padding-bottom: 10em;
  }
  main.contenu article {
    max-width: 920px;
    margin: 0 auto;
    font-size: 2rem;
  }
  article.histoire .story p {
    margin: 0 3rem 5rem;
    font-size: 100%;
    letter-spacing: 0.4rem;
    line-height: 2.2;
  }
}